bs4 == 0.0.2
dash == 3.2.0
dash_bootstrap_components == 2.0.4
pandas == 2.3.1
plotly == 5.24.1
requests == 2.32.3
backcall == 0.2.0
bottleneck == 1.4.2
brotli ==  1.1.0
certifi ==   2025.08.03
chardet == 5.2.0
charset_normalizer == 3.4.3
click == 8.2.1
cloudpickle == 3.1.1
cycler == 0.12.1
debugpy == 1.8.15
decorator == 4.4.2
defusedxml == 0.7.1
flask == 3.1.1
html5lib == 1.1
httplib2 == 0.22.0
idna == 3.10
ipykernel == 6.17.1
ipython_genutils == 0.2.0
itsdangerous == 2.2.0
jinja2 == 3.1.6
kiwisolver == 1.4.9
lxml == 5.4.0
markupsafe == 3.0.2
matplotlib == 3.10.0
matplotlib_inline == 0.1.7
numexpr == 2.11.0
orjson == 3.11.2
packaging == 25.0
pexpect == 4.9.0
pickleshare == 0.7.5
platformdirs == 4.3.8
prompt_toolkit == 3.0.51
psutil == 5.9.5
ptyprocess == 0.7.0
pyarrow == 18.1.0
pydevd == 3.2.3
pygments == 2.19.2
pyparsing == 3.2.3
pytz == 2025.2
simplejson == 3.20.1
six == 1.17.0
soupsieve == 2.7
tornado == 6.4.2
traitlets == 5.7.1
urllib3 == 2.5.0
wcwidth == 0.2.13
webencodings == 0.5.1
xarray == 2025.8.0
zstandard == 0.24.0
numpy == 2.0.1